{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Usuários Cadastrados</h1>
    <div class="usuarios">
        {% if user|length > 0 %}
            {% for user in user %}
                <h2>Nome: {{ user.name }}</h2>
                <h2>Email: {{ user.email }}</h2>
                <h2>Telefone: {{ user.telephoneNumber }}</h2>
                <a href="{{ path('app_admin_edit', {id: user.id}) }}">Editar</a>
                <hr />
            {% endfor %}
        {% else %}
            <p>Nenhum usuário cadastrado.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
