{% extends 'base.html.twig' %}
{% block title %}Hello LuckyController!{% endblock %}
{% block body %}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .salvar 
    { 
        text-color: #0000; 
        background-color : #0b7de0ff;
        font-size: 15px;
        border-radius: 8px;
    }
    .salvar:hover 
    {
        background-color : #045eadff;
        cursor: pointer;  
    }
</style>

<div class="example-wrapper">

    <form action="{{ url('app_lucky_save') }}" method="post">
        <input type="text" name="name" placeholder="Digite seu nome"/> <br />
        <input type="email" name="email" placeholder="Digite seu Email"/> <br />
        <input type="tel" name="telephoneNumber" placeholder="Digite seu Telefone"/>  <br />
        <button class="salvar" type="submit">Salvar</button>
    </form>
    {% if name != false %}
        {% for row in name %}
        <h2> Nome: {{ row.name }} </h2>
        <h2> Email: {{ row.email }} </h2>
        <h2> Telefone: {{ row.telephoneNumber }} </h2>
        <hr />
        {% endfor %}
    {% endif %}
</div>  
{% endblock %}
